#overlay {
    background: rgba(255,255,255,0.7);
    color: #000;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    float: left;
    text-align: center;
    padding-top: 20%;
    opacity:0.5;
    font-size:50px;
    z-index:10000000;
}
.loader-parent > .sk-spinner {
  display: none;
}
.loader-parent.sk-loading {
  position: relative;
}
.loader-parent.sk-loading:after {
  content: '';
  background-color: rgba(255, 255, 255, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.loader-parent.sk-loading > .sk-spinner {
  display: block;
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
  z-index: 2000;
}